project:
  type: website
  output-dir: _site

website:
  title: "Industry Python Blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/oppkey
      - icon: twitter
        href: https://x.com/oppkey
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css


